
.lessonResult{
  min-width: 500px;
  background-color: #0f0f0f;
  max-width: 1000px;
  width: 700px;
  margin: auto;
  height: 60vh;
  border-radius: 10px;
}

.lessonResult-head{
  width: 100%;
  height: 20%;
  text-align: center;
  background: rgb(158, 158, 158);
  border-radius: 10px 10px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}



.lessonResult-stats{
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.lessonResult-next{
  width: 100%;
  height: 30%;
  border-radius: 0px 0px 10px 10px;
  position:relative;
  z-index: 0;
}

.box{
width: 150px;
height: 150px;
border: 2px solid #00b0a0;
padding: 14px;
border-radius: 50%;
}

.box h3{
    font-size: 4.5rem;
    margin-top: 5px;
}

.box span{
  font-size: 1rem;
  font-weight: bold;
  z-index: 1;
}


.inactive-btn{
  width: 200px;
  padding: 15px 0;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #009688;
  background: transparent;
  color: white;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}