
.startType-main-box{
    width: 80vw;
    height: 60vh;
    position: relative;
    background-color: #0f0f0f;
    margin: auto;
    border-radius: 25px;
    border: 5px solid rgb(99, 99, 99);
    text-align: center;
    top: 25%;

}


.startType-logo-box-outer{
    width: 130px;
    height: 130px;
    position: relative;
    background-color: #333;
    border-radius: 50%;
    font-size: 70px;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
  
}

.startType-main-box h1{
    color: white;
    font-size: 36px;
    line-height: 40px;
    font-weight: 400;
    padding-bottom: 10px;
    width: auto;
  
}


.startType-logo{
color: white;
position: absolute;
left: 26%;
top: 21%;
rotate: -45deg;
}

.bottom-container{
    position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%);

}

/* ------------------------typing-test------------------------- */

.typingTest-Container{
    background-color: rgb(34, 34, 34);
    border-radius: 10px;
    padding: 10px;
    margin: 0 auto;
    display: flex;
    width: 780px;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
}

.paraPreview-container{
    background-color: rgb(34, 34, 34);
    width: 80%;
    color: #5c5c5c;
    font-size: 22px;
    line-height: 1.375;
    padding: 10px;

}

.paraPreview-container span{
    font-size:"1.6rem";
}

.stats-typingtest{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 700px;
    margin: 10px;
    height: 227px;
    color: #767676;
    background: transparent;
}

.restart-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 0px;
    color: #767676;;;
    width: 105px;
    padding-top: 10px;
}

.restart-btn{
font-size: 17px;
font-weight: 700px;
font-weight: 700;
background: transparent;
color: #767676;;
border: none;
padding: 0px;
text-transform: uppercase;
}

.para-input{
    position: absolute;
    z-index: -5;
    top: -50%;
    left: 50%;
}
